.pricing {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 59rem;
        background: var(--shape-base);
        filter: blur(17.75rem);
    }

    & .pricing-table {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 8.75rem 25rem;
        width: 100%;
        position: relative;

        &:hover {
            & .price-block:nth-child(1) {
                animation: slide-right 300ms forwards;
            }
            & .price-block:nth-child(3) {
                animation: slide-left 300ms forwards;
            }
        }
    }

    & h2 {
        max-width: 18.375rem;
        text-align: center;
        z-index: 10;
    }

    & .price-block {
        display: flex;
        flex-direction: column;
        max-width: 17.875rem;
        height: 26rem;
        padding: 1.75rem 2rem;
        justify-content: space-between;
        background-color: var(--shape-base);
        border-radius: 1.5rem;
        border: 1px solid var(--shape-stroke);

        & .value {
            & .plano {
                font: var(--title-xs);
                color: var(--blue-light);
            }

            & p {
                font: var(--title-md);
                color: var(--text-title);
                margin-block: 1.5rem .5rem;

                & > span {
                    font: var(--title-xs);
                }
            }

            & .price {
                font: 400 .875rem/140% var(--ff-base);
                color: var(--text-label);
            }
        }

        & .benefits {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: .75rem;

            & span {
                display: flex;
                align-items: flex-start;
                gap: .5rem;
                font: 400 .75rem/140% var(--ff-base);

                & img {
                    width: 1.3rem;
                    height: 1.3rem;
                }
            }
        }

        & a {
            text-align: center;
            font: var(--button);
            color: var(--text-title);
            background-color: var(--blue-dark);
            border-radius: .5rem;
            padding-block: .75rem;
            margin-top: .75rem;
        }

        &:nth-child(1) {
            transform: translateX(100%);
            z-index: 1;
            transition: scale 500ms, background-color 500ms, box-shadow 500ms;
            position: relative;

            & > img:nth-child(1) {
                width: 3.125rem;
                height: 3.125rem;
                position: absolute;
                top: -2.5rem;
                left: -1.875rem;
            }
            & > img:nth-child(2) {
                width: 1.875rem;
                height: 1.875rem;
                position: absolute;
                top: 1.25rem;
                left: -2.5rem;
            }
        }
        &:nth-child(1):hover {
            scale: 1.1;
            box-shadow: 0 0 66px 0 rgba(53, 139, 185, 0.10);
            background-color: var(--shape-hover);
             z-index: 4;
        }
        &:nth-child(3) {
            transform: translateX(-100%);
            z-index: 2;
            transition: scale 500ms, background-color 500ms, box-shadow 500ms;
            position: relative;
            & > img:nth-child(3) {
                width: 3.125rem;
                height: 3.125rem;
                position: absolute;
                bottom: -0.625rem;
                right: -3.125rem;
            }
            & > img:nth-child(4) {
                width: 1.875rem;
                height: 1.875rem;
                position: absolute;
                bottom: -1.875rem;
                right: 0;
            }
        }
        &:nth-child(3):hover {
            scale: 1.1;
            box-shadow: 0 0 66px 0 rgba(53, 139, 185, 0.10);
            background-color: var(--shape-hover);
            z-index: 4;
        }
    }

    & .price-block.semestral {
        position: relative;
        z-index: 3;
        width: fit-content;
        transition: scale 500ms, background-color 500ms, box-shadow 500ms;

        & > img {
            width: 2.8125rem;
            height: 3.125rem;
            position: absolute;
            left: 2rem;
            top: -3.2rem;
        }

        & .plans-uti {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > span {
                color: var(--pink-light);
            }

            & span:nth-child(2) {
                font: var(--tag);
                text-transform: uppercase;
                letter-spacing: 0.5px;
                background-color: var(--shape-stroke);
                border-radius: 999px;
                padding: .5625rem 1.25rem;
                color: var(--text-body);
            }
        }
        & a {
            background-color: var(--pink-dark);
        }

        &:hover {
            scale: 1.1;
            box-shadow: 0 0 66px 0 rgba(53, 139, 185, 0.10);
            background-color: var(--shape-hover);
            z-index: 4;
        }
    }
}

@keyframes slide-right {
    100% {
        transform: translateX(10%) translateY(50px);
        rotate: -15deg;
    }
}

@keyframes slide-left {
    100% {
        transform: translateX(-10%) translateY(50px);
        rotate: 15deg;
    }
}